@model WebApplication1.Models.Galerie

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h2>Details Librairy - @Html.DisplayFor(model => model.Nom)</h2>
    <p>Details librairy @Html.DisplayFor(model => model.Nom) in database. </p>

    <div class="container">

        <form asp-action="Details" method="post">
            <input type="hidden" asp-for="Id" />
            <div>
                @if (!Model.ListImages.Any())
                {
                   <br/><span style='color:red'>There are no images in this library !</span><br/>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name Image</th>
                                <th>Image</th>
                                <th>Edit Image</th>
                                <th>Supress Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Image image in Model.ListImages)
                            {
                            <tr>
                                <td><h4> <a asp-action="Details" asp-route-id="@image.Nom">@image.Nom</a></h4></td>
                                <td>
                                    @if (image.Data != null)
                                    {
                                        var base64 = Convert.ToBase64String(image.Data);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img src="@imgSrc" width="100px" />
                                    }
                                    else
                                    {
                                        <img src="fileNotFound.png" width="100px" />
                                    }
                                </td>
                                <td><a asp-action="EditImage" asp-route-id="@image.Id" class="btn btn-info">Details</a></td>
                                <td><a asp-action="DeleteImage" asp-route-id="@image.Id" class="btn btn-danger">Supress</a></td>
                            </tr>

                            }
                        </tbody>
                    </table>
                }
            </div>
        </form>
    </div>
    <div style="text-align:right">
        <!--<a asp-controller="Image" asp-action="Create" asp-route-id="@Model.Id" asp-route-nameGalerie="@Model.Nom" class="btn btn-info">Add image</a>-->
        <a asp-action="Index" class="btn btn-danger">Return</a>
        <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-success">Add Image</a>
    </div>

</body>
