@model IEnumerable<WebApplication1.Models.Galerie>
@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Index - Librairy</h2>
        <p>An ordered list of librairy will start counting from 1 :</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name Librairy</th>
                    <th>Update Librairy</th>
                    <th>Supress Librairy</th>
                    <th>Details Librairy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> <h4> <a asp-action="Details" asp-route-id="@item.Id">@item.Nom</a></h4></td>
                        <td> <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Update</a></td>
                        <td> <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supress</a></td>
                        <td> <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="text-align:right">
        <a asp-action="Create" asp-route-id="Create" class="btn btn-info">Create Librairy</a>
    </div>

</body>
</html>
