@model MediaCenter.Models.Image

@{
    ViewData["Title"] = "Details Image";
}

<h2>Details Image - @Html.DisplayFor(model => model.Nom)</h2>
<p>Details of Image @Html.DisplayFor(model => model.Nom) in database.</p>
<hr />

<div class="container">
    <div style="text-align:center">
        @if (Model.Data != null)
        {
            var base64 = Convert.ToBase64String(Model.Data);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <div>
                <img src="@imgSrc" width="400px" />
            </div>
        }
        else
        {
            <br /><span style='color:red'>File not found !</span><br />
        }
        <br />
        <div>
            @if (!Model.ListTag.Any())
            {
                <span>Tag not found !</span>
            }
            else
            {
                @foreach (var item in Model.ListTag)
                {
                    <button class="btn alert-info">@item.Nom</button>
                }
            }
        </div>
        <br />
        <br />
        <div>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-success">Supprimer</a>
            <a asp-controller="Tag" asp-action="Index" asp-route-imageid="@Model.Id" class="btn btn-primary">Update Tag</a>
            <a asp-controller="Galerie" asp-action="Details" asp-route-id="@Model.GalerieId" class="btn btn-danger">Retour</a>
        </div>
    </div>
</div>
